# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

# tests/linter
black
coverage
flake8
pytest
yapf

# API
# gcsfs
# google-cloud-storage
s3fs
streamlit
chromedriver-py==89.0.4389.23
chromedriver-binary==89.0.4389.23
webdriver-manager
selenium
beautifulsoup4

# utilities
six>=1.14
joblib
memoized-property
termcolor
